body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  padding: 2rem;
  background-color: #272822;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #fff;
}
#errors {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  width: 200px;
  height: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #49483e;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  gap:18px;
  input {
    display: none;
  }

  .input-btn {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #ae81ff;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
    transition: 1s;
    text-align: center;
  }
  .input-btn:hover {
    background-color: #a120c8;
  }
}

#downloadcsv-btn {
  height: 50px;
  display: none;
  background-color: #ae81ff;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  transition: 1s;
  width: 100px;
}

#downloadcsv-btn:hover {
  background-color: #a120c8;
}

/* Errors */
#errors-widget {
  /* display: none; */
}

#errors-text-wrapper {

}

#errors-text {
color: #cb2b59;
margin-right: 8px;
}

#errors-button {
transform: rotate(90deg);
background-color: #ae81ff;
padding: 6px;
border-radius: 6px;
border: none;
cursor: pointer;
}

#errors-button:hover {
background-color: #a120c8;
}


#errors-popup {
  position: absolute;
  display: none;
  min-width: 200px;
  height: 300px;
  background-color: #cb2b59;
  border-radius: 6px;
  overflow-y: auto;
  z-index: 100;
}

.error-item {
  padding: 4px;
  border-bottom: solid 1px #49483e;
}